.precinho {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-left: 20px;
    border-top: 1px solid #E0E0E0;
    margin-top: 20px;
}

.precinho section{
    margin-top: 20px;
    font-size: 14px;
    color: #828282;
}

.buttonR {
    width: 343px;
    height: 60px;
    background-color: #E0E0E0;
    border-radius: 8px;
    border: none;
    color: #828282;
    font-size: 16px;
}